<link rel="stylesheet" href="/app.css">

<h1>JOIN US</h1>

<p class="lead">Enter an email to join <strong>
        <%=data%>
    </strong>
    others on this waitlist. This is just a basic localhost program for test proposed :D. </p>

<form method="POST" action="/register">
    <input type="text" name="email" class="form" placeholder="Enter an Email">
    <button>Join Now</button>
</form>